/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: 'Do Hyeon', sans-serif;
  width: 1000px;
  margin: 2% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
  border: 5px solid rgb(163, 171, 187);
}

ul {
  padding-left: 20px;
  list-style: none;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "> ";
  color: #EC6778;
}

/****************************************************/

/*.col-40*/

.col-40 {
  background: #FFF;
  padding: 15px;
  color: #000;
}

.col-40 h1 {
  font-size: 20px;
  color:white;
  padding: 5px;
  font-family: 'Righteous', cursive;
}

.col-40 h2 {
  font-size: 18px;
  text-decoration: underline;
  color:#2B8087;
  margin-bottom: 10px;
}

.col-40 h3 {
  font-size: 18px;
  text-decoration: none;
  color:#2B8087;
  margin-bottom: 10px;
}

#mezclar {
      background-color: #61A9B0;
      border: none;
      color: white;
      padding: 0px 7px;
      text-align: center;
      display: inline-block;
      font-size: 13px;
      font-weight: bold;
      cursor: pointer;
}

#titulo {
  background-color :rgb(246, 79, 109);
}

#flecha{
  font-size: 60px;
}

#tiempo{
  text-align: center;
  font-size: 25px;
}
/****************************************************/

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}

/*.col-60*/

.col-60 {
  background: #4e989f;
  width: 606px;
  height: 606px;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
  float: left;
}

#juego.piezas{
  width: 33%;
  height: 33%;
}

#pieza1, #pieza2,#pieza3, #pieza4,#pieza5, #pieza6, #pieza7, #pieza8, #pieza9{
  width: 202px;
  height: 202px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/****************************************************/

#footer {
  text-align: center;
  color: white;
  background-color:rgb(246, 79, 109);
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  margin: 0px;
  font-size: 12px;
}
